@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik-Regular";
  src: url("./fonts/AeonikTRIAL-Regular.otf");
}

@font-face {
  font-family: "Aeonik-Bold";
  src: url("./fonts/AeonikTRIAL-Bold.otf");
}

@layer base {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  span {
    @apply font-ar text-secondary text-lg leading-8;
  }

  h1 {
    @apply font-ab text-[50px] lg:text-[60px] 2xl:text-[96px] text-secondary leading-[60px] lg:leading-[72px] 2xl:leading-[120px];
  }

  h2 {
    @apply font-ab text-[48px] md:text-[52px] lg:text-[72px] text-secondary leading-[48px] md:leading-[52px] lg:leading-[72px];
  }

  h3 {
    @apply font-ab text-[28px] md:text-[32px] lg:text-[36px] text-secondary leading-[28px] md:leading-[32px] lg:leading-[40px];
  }

  h4 {
    @apply font-ar text-secondary text-2xl lg:text-3xl leading-[46px] lg:leading-[52px];
  }

  h5 {
    @apply font-ab text-[20px] md:text-[22px] lg:text-[24px] text-secondary/[.4] leading-[30px] md:leading-[33px] lg:leading-[36px];
  }

  h6 {
    @apply font-ab text-center text-[80px] md:text-[100px] lg:text-[128px] text-secondary hover:scale-110 leading-[80px] md:leading-[100px] lg:leading-[128px] transition ease-in cursor-default;
  }

  input {
    @apply !outline-none border border-white/[.24] rounded-lg bg-transparent p-4 text-white text-lg font-normal;
  }

  textarea {
    @apply !outline-none border border-white/[.24] rounded-lg bg-transparent p-4 text-white text-lg font-normal;
  }

  .noscrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .noscrollbar::-webkit-scrollbar {
    display: none;
  }
}